<div class="jumbotron">
	<div class="container">
		<h1>Welcome to Pawpics!</h1>
		<%= link_to "Login", "#", class: "btn-default btn-lg" %>
		<%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
	</div>
</div>
